<div class="centered">
  <div class="centered_content">

    <%= form_tag "/login", method:'post' do %>

      <div class="field">
        <%= label_tag "Email" %><br />
        <%= text_field_tag :email %>
      </div>
      <div class="field">
        <%= label_tag "Password" %><br />
        <%= password_field_tag :password %>
      </div>
      <div class="actions">
        <%= submit_tag "save" %>
      </div>
    <% end %>

  </div>
</div>

