<div class="centered">
  <div class="centered_content">
    <%= form_for @rant do |f| %>
      <%= f.label :title %><br>
      <%= f.text_field :title, placeholder: 'your rant title' %><br>
      <%= f.label :body %><br>
      <%= f.text_field :body, placeholder: 'rant away...' %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
