<h1><%= @rant.title %></h1>
<%= link_to "Edit this rant", edit_rant_path(@rant) %>
<%= link_to 'Delete rant', rant_path(@rant),
            :confirm => 'Are you sure?', :method => :delete %>
<p><%= @rant.created_at %></p>
<p><%= @rant.body %></p>
  <% if @rant.updated_at != @rant.created_at %>
    <p><%= @rant.updated_at %></p>
  <% end %>
<% if @responses %>
  <% @responses.each do |response| %>
    <p><%= response.body %> | <%= response.user.email %></p>
  <% end %>
<% end %>

<%= form_for @resopnse do |f| %>
<%= form_for @todo do |f| %>
  <%= f.label :body %>
  <%= f.text_field :body %>
  <%= f.submit "Respond" %>
<% end %>


