<p>
    <%= response.body %>
    <% if session[:user_id] == response.user_id %>
      <%= link_to "edit", edit_rant_response_path(id: response.id, rant_id: response.rant_id) %>
    <% end %>
</p>

<div class="vote">
    <%= form_tag('/responses/up_vote') do %>
      <%= hidden_field_tag 'id', response.id %>
      <%= hidden_field_tag 'rant_id', response.rant_id %>
      <%= submit_tag 'Up Vote', class: 'button' %>
    <% end %>

    <span class="vote_count left"><%= response.vote_count %></span>

    <%= form_tag('/responses/down_vote') do %>
      <%= hidden_field_tag 'id', response.id %>
      <%= hidden_field_tag 'rant_id', response.rant_id %>
      <%= submit_tag 'Down Vote', class: 'button' %>
    <% end %>
</div>
